body {
    padding-top: 25px;
    padding-bottom: 99px;
    background-color: #FFFFFF;
    font-size: 22px;
}

.test1 {
    text-shadow: 0 -1px 1px #000000;
    color: #000000;
    background-color: #FFFFFF;
}

.page {
    margin: 0 auto;
    font-family: 'Georgia', serif;
    font-size: 22px;
    line-height: 66px;
    66px;
    padding: 0 50px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    width: 90%;
}

.test2 {
    display: block;
}

.shadow {
    -moz-box-shadow: 0 0 15px #333333;
    -webkit-box-shadow: 0 0 15px#333333;
    box-shadow: 0 0 15px #333333;
}


